{% extends "checking/base.html" %}
{% block content %}
<p><a href="{% url 'checking:commodity' %}" style="text-decoration: none;">Commodity</a></p>
<p>Commedity List:</p>
<ul>
    {% for pers in pearson %}
    <li>
        <div class="card text-bg-dark mb-5" style="max-width: 18rem;">
  <div class="card-header" style="background-color: darkgrey; color: black;">name : {{pers.name}}</div>
  <div class="card-body" style="background-color: lightgrey;">
    <h5 class="card-title">date added : {{pers.real_date_added}} , hour : {{pers.hour_added}}</h5>
    <p class="card-text">commodity code : {{pers.code}}</p>
    <p class="card-text">descript : {{pers.descript}}</p>
    <p><a href="{% url 'checking:delete_commedity' pers.id %}" class="card-text"
        style="text-decoration: none;">Delete</a></p>
  </div>
  </div>
    </li>
    {% empty %}
    <li>nothing</li>
    {% endfor %}
</ul>

{% endblock content %}