{% extends "checking/base.html" %}
{% block content %}
<p><a href="{% url 'checking:commodity' %}" style="text-decoration: none;">بازگشت</a></p>
<p>لیست اقلام موجود :</p>
<ul>
    {% for pers in pearson %}
    <li>
        <div class="card text-bg-dark mb-5" style="max-width: 18rem;">
  <div class="card-header" style="background-color: darkgrey; color: black;">نام : {{pers.name}}</div>
  <div class="card-body" style="background-color: lightgrey;">
    <h5 class="card-title">تاریخ ورود : {{pers.real_date_added}} , </h5>
    <h5 class="card-title">ساعت ورود : {{pers.hour_added}}</h5>
    <p class="card-text">کد انحصاری : {{pers.code}}</p>
    <p class="card-text">توضیحات : {{pers.descript}}</p>
    <p><a href="{% url 'checking:delete_commedity' pers.id %}" class="card-text"
        style="text-decoration: none;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
  <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
</svg> حذف</a></p>
  </div>
  </div>
    </li>
    {% empty %}
    <li>خالی</li>
    {% endfor %}
</ul>

{% endblock content %}