{% extends "checking/base.html" %}
{% block content %}
<p><a href="{% url 'checking:commodity' %}" style="text-decoration: none;">بازگشت</a></p>
<p>تاریخچه</p>
<ul>
    {% for pers in pearson %}
    <li>
        <div class="card text-bg-dark mb-5" style="max-width: 18rem;">
  <div class="card-header" style="background-color: darkgray; color: black;">نام : {{pers.name}}</div>
  <div class="card-body" style="background-color: lightgray;">
    <h5 class="card-title">تاریخ ورود : {{pers.real_date_added}} , </h5>
    <h5 class="card-title">ساعت ورود : {{pers.hour_added}}</h5>
    <p class="card-text">کد انحصاری: {{pers.code}}</p>
    {% for exit in pers.exit_com.all %}
    <p class="card-text">تاریخ خروج : {{exit.date_exit}}</p>
    <p class="card-text">ساعت خروج : {{exit.hour_exit}}</p>
    {% endfor %}
    <p class="card-text">ایجاد شده توسط : {{pers.owner_com_c}}</p>
    {% for exit in pers.exit_com.all %}
    <p class="card-text">حذف شده توسط : {{exit.owner_com_d}}</p>
    {% endfor %}
    <p class="card-text">توضیحات : {{pers.descript}}</p>
</div>
</div>
    </li>
    {% empty %}
    <li>خالی</li>
    {% endfor %}
</ul>
{% endblock content %}
