{% extends "checking/base.html" %}
{% block content %}
<p class="card-text"><a href="{% url 'checking:guest'%}" style="text-decoration: none;">بازگشت</a></p>
<p>لیست مهمان ها</p>
<ul>
    {% for pers in pearson %}
    <li>
<div class="card text-bg-dark mb-5" style="max-width: 18rem;">
  <div class="card-header" style="background-color: darkgray; color: black;">نام : {{pers.name}}</div>
  <div class="card-body" style="background-color: lightgray;">
    <h5 class="card-title">تاریخ ورود : {{pers.real_date_added}} , </h5>
    <h5 class="card-title">ساعت ورود : {{pers.hour_added}}</h5>
    <p class="card-text">شماره تماس: {{pers.number_phone}}</p>
    <p class="card-text">مقام مهمان : {{pers.pearson_post}}</p>
    <p class="card-text">کد انحصاری : {{pers.pearson_code}}</p>
    <p class="card-text">مکان مبدا: {{pers.origin_place}}</p>
    <p class="card-text"><a href="{% url 'checking:delete_guest' pers.id %}" style="text-decoration: none;" ><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill-dash" viewBox="0 0 16 16">
  <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1m0-7a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
  <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
</svg>خروج</a></p>
  </div>
</div>
    </li>
    {% empty %}
    <li>خالی</li>
    {% endfor %}
</ul>
{% endblock content %}
