{% extends "checking/base.html" %}
{% block content %}
<p class="card-text"><a href="{% url 'checking:guest'%}" style="text-decoration: none;">بازگشت</a></p>
<p>لیست مهمان ها</p>
<ul>
    {% for pers in pearson %}
    <li>
<div class="card text-bg-dark mb-5" style="max-width: 18rem;">
  <div class="card-header" style="background-color: darkgray; color: black;">نام : {{pers.name}}</div>
  <div class="card-body" style="background-color: lightgray;">
    <h5 class="card-title">تاریخ ورود : {{pers.real_date_added}} , </h5>
    <h5 class="card-title">ساعت ورود : {{pers.hour_added}}</h5>
    <p class="card-text">شماره تماس: {{pers.number_phone}}</p>
    <p class="card-text">مقام مهمان : {{pers.pearson_post}}</p>
    <p class="card-text">کد انحصاری : {{pers.pearson_code}}</p>
    <p class="card-text">مکان مبدا: {{pers.origin_place}}</p>
    <p class="card-text"><a href="{% url 'checking:delete_guest' pers.id %}" style="text-decoration: none;" >خروج</a></p>
  </div>
</div>
    </li>
    {% empty %}
    <li>خالی</li>
    {% endfor %}
</ul>
{% endblock content %}
