{% extends "checking/base.html" %}
{% block content %}
<ul>
    {% for pers in person %}
    <li>
        <p>date : {{pers.real_date_added}} , hour : {{pers.hour_added}}</p>
        <p>name : {{pers.name}}</p>
        <p>number phone: {{pers.number_phone}}</p>
        <p>pearson post : {{pers.pearson_post}}</p>
        <p>pearson code : {{pers.pearson_code}}</p>
        <p>origin place : {{pers.origin_place}}</p>
    </li>
    {% empty %}
    <li>nothing</li>
    {% endfor %}
</ul>
{% endblock content %}