{% extends "checking/base.html" %}
{% block page_header %}
<div class="jumbotron" style="padding-bottom: 20%; ">
<h3 class="display-4">مهمان ها</h3>
<h3 class="display-8" style="margin-top: 10%;"><a href="{% url 'checking:guest_entry' %}" style=" 
text-decoration: none">مهمان جدید</a></h3>
<h3 class="display-8" style="margin-top: 10%;"><a href="{% url 'checking:guest_list' %}" style=" 
text-decoration: none">لیست خوابگاه</a></h3>
<h3 class="display-8" style="margin-top: 10%;"><a href="{% url 'checking:guest_history' %}" style=" 
text-decoration: none">تاریخچه</a></h3>
</div>
{% endblock page_header %}