{% extends "checking/base.html" %}
{% block content %}
<p><a href="{% url 'checking:inspecter' %}" style="text-decoration: none;">بازگشت</a></p>
<p>تاریخچه :</p>
<ul>
    {% for pers in pearson %}
    <li>
<div class="card text-bg-dark mb-5" style="max-width: 18rem;">
  <div class="card-header" style="background-color: darkgray;color: black;">نام : {{pers.name}}</div>
  <div class="card-body" style="background-color: lightgray;">
    <h5 class="card-title">تاریخ ورود: {{pers.real_date_added}} , </h5>
    <h5 class="card-title">ساعت ورود : {{pers.hour_added}} </h5>
    <p class="card-text">شماره تماس : {{pers.number_phone}} </p>
    <p class="card-text">مقام بازرس : {{pers.pearsone_post}} </p>
    <p class="card-text">تاریخ خروج : {{pers.date_exit}}</p>
    <p class="card-text">ساعت خروج : {{pers.hour_exit}}</p>
    <p class="card-text">مکان مبدا : {{pers.origin_place}} </p>
    <p class="card-text">ایجاد شده توسط : {{pers.owner_ins_c}}</p>
    <p class="card-text">توضیحات : {{pers.descript}} </p>
  </div>
</div>
    </li>
    {% empty %}
    <li>خالی</li>
    {% endfor %}
</ul>
{% endblock content %}
